/* common */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
a {text-decoration: none; color: inherit;}
li {list-style: none;}
body {}
/*header(web)*/
.outerHeader {
  background-color: #f7f7f7;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: all 0.3s;
}
.header {
  /* width: 1024px;   */
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerLogo {}
.header .headerLogo img {
  display: block;
}
.header .header_right_Btn,
.header .header_left_Btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header_right_Btn a,
.header .header_left_Btn a{
  display: block;
}
.header .header_right_Btn a i {
  font-size: 1.5rem;
  margin-right: 10px;
}
.header .header_left_Btn a i{
  font-size: 1.5rem;
  margin-left: 10px;
}
.header .header_left_Btn #btn_close{
  display: none;
}
.header .header_right_Btn #cart_btn_close{
  display: none;
}
/* search_box */
.search_box_outer {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f7f7f7;
  display: none;
  transition: background-color 0.3s;
}
.search_box{
  /* width: 1024px; */
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.search_rank ul {
  display: flex;
  justify-content: center;
}
.search_rank ul li {
  background-color: #333;
  color: #fff;
  border: 1px solid #f7f7f7;
  padding: 5px 10px;
  font-size: 0.7rem;
  border-radius: 18px;
  margin: 10px 10px;
  box-sizing: border-box;
}
.search_input {
  display: flex;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: space-between;
  background-color: #fff;
}
.search_input>p {
  margin-left: 15px;
  font-size: 0.8rem;
  color: #ccc;
}
.search_input>i {
  font-size: 1.2rem;
}

/* navBox */
.outerNav {
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f7f7f7;
  display: none;
  transition: background-color 0.3s;
}
.navBox{
  /* width: 1024px; */
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.navBox .lnb {
  margin-top: 20px;
  flex-grow: 2;
  display: flex;
  font-size: 0.8rem;  
}
.navBox .lnb>li{
  text-align: center;
  width: 25%;
  margin-right: 5px;
}
.navBox .lnb>li>ul>li:first-child{
  font-weight: bold;
}
.navBox .lnb>li>ul li {
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.navBox .lnb>li>ul li:last-child {
  margin-bottom: 30px;
}
.navBox .gnb {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 20px 0;
  font-size: 0.7rem;
}
.navBox .gnb li{
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #333;
}
.navBox .gnb li:first-child {
  border: none;
}

/* cart */
.cart {
  position: fixed;
  top: 50px;
  right: -300px;
  width: 300px; height: 100vh;
  z-index: 100;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.cart>h3 {
  color: #333;
  display: block;
  padding-bottom: 20px;
  margin: 30px 30px;
  border-bottom: 1px dotted #ccc;
}
.cart .cart_txt {
  text-align: center;
  margin-top: 50px;
}
.cart .cart_txt .cart_img {
  width: 70px;
  margin: 20px auto;
}
.cart .cart_txt .cart_img img{
  width: 100%;
}
/*mobile_mainVisual*/
.mobile_mainVisual {
  width: 100%;
  margin-top: 50px;
}

/*web_mainVisual*/
.web_mainVisual {
  display: none;
  width: 100%;
  height: 100vh;
  position: relative;
}
.scrollIconBox {
  position: absolute;
  width: 100%;
  bottom: 40px;
  z-index: 2;
}
.scrollBoxBorder {
  position: absolute;
  right: 30px;
  width: 23px;
  height: 40px;
  bottom: 50px;
}
.scrollBoxBorder .scrollDown {
  position: relative;
  font-size: 32px;
}
.scrollBoxBorder .scrollDown div i {
  color: #333;
  position: absolute;
  animation: drop 2s linear infinite;
  margin: 0 auto;
}

@keyframes drop {
  0% {transform: translateY(0); opacity: 1;}
  100% {transform: translateY(25px); opacity: 0;}
}
@keyframes drop2 {
  0% {transform: translateY(5px);  opacity: 1;}
  100% {transform: translateY(28px);  opacity: 0;}
}
/* web_best */
#best_more {display: none;}
#best_more:checked ~ .best_second {
  height: 280px;
}
.web_best {
  width: 100%;
  margin: 0 auto;
}
.web_best>h3 {
  color: #333;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin: 50px 0 40px 0;
}
.best_img_box img{
  width: 100%;
}
.best_txt_box {}
.best_txt_box .best_pro_title{
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.best_txt_box .best_pro_dis{
  font-size: 0.5rem;
  color: #ccc;
  text-decoration: line-through;
}
.best_txt_box .best_pro_price{
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.best_txt_box .best_pro_price>strong{}
.best_txt_box .best_pro_price>span{
  font-size: 0.5rem;
  color: rgb(255, 0, 0);
}

.best_txt_box .best_pro_review{
  display: none;
  font-size: 0.8rem;
}
.best_txt_box .best_pro_review .review_star {
  margin-right: 5px;
  color: rgb(161, 134, 114);
}
.best_txt_box .best_pro_review .review_star i{
  margin-right: -4px;
  vertical-align: top;  
}
.best_txt_box .best_pro_review>p {
  display: block;
  font-size: 0.5rem;
  line-height: 21px;
  margin-left: 2px;
}


.web_best .best_first {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.web_best .best_first .best_product {
  width: 30%;
}
.web_best .best_second {
  display: flex;
  height: 0;
  justify-content: space-around;
  margin-top: 10px;
  transition: all 0.2s;
  overflow: hidden;

}
.web_best .best_second .best_product {
  width: 30%;
}
.web_best .best_img_box {
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
.web_best .best_img_box img {
  transition: all 0.2s;
}
.best_more_btn {
  display: flex;
  margin-top: 10px;
  padding: 5px 0;
  justify-content: center;
  width: 45%;
  margin: 0 auto;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 0.8rem;
}
.best_more_btn:hover,
.best_more_btn:active {
  background-color: #333;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
}
.mobile_like_box {
  display: flex;
  justify-content: space-around;
}
.mobile_like_box div{
  background-color: rgb(161, 134, 114);
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
}
.mobile_like_box div {
  font-size: 0.6rem;
}
.mobile_like_box div i{
  font-size: 0.9rem;
}

/* to_navi */
/* .to_top {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-radius: 10px;
  right: 5%;
  bottom: 5%;
  z-index: 102;
  background-color: #f3f3f3;
  color: #666;
  text-align: center;
  cursor: pointer;  
  box-shadow: 1px 1px 1px grey;
} */
.navi {
  display: none;
  position: fixed;
  right: -22px;
  top: 70%;
  z-index: 102;
  color: #666;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px grey;
  font-size: 0.6rem;
  transform: translate(-50%,-50%);
}
.navi li {
  padding: 15px 5px;
  border-bottom: 1px solid #333;
  text-transform: uppercase;
  transition: 0.1s;
  background-color: #f3f3f3;
}
.navi li:hover {
  background-color: #333;
  color: #f3f3f3;
  transform: translateX(-10px);
}
.navi li:nth-child(1) {
  font-size: 20px;
  padding: 10px 3px;
}
.navi li:last-child {
  border: none;
}


/* event banner */
.eventBanner {
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* hotKeyWord */
.hotKeyWordContents input {display: none;}
#keyWordRadio1:checked ~ .ImgBox1{display: flex;}
#keyWordRadio2:checked ~ .ImgBox2{display: flex;}
#keyWordRadio3:checked ~ .ImgBox3{display: flex;}
#keyWordRadio4:checked ~ .ImgBox4{display: flex;}
#keyWordRadio5:checked ~ .ImgBox5{display: flex;}

#keyWordRadio1:checked ~ .hotKeyWordTab li:nth-child(2) {font-weight: bold; color: #333;}
#keyWordRadio2:checked ~ .hotKeyWordTab li:nth-child(3) {font-weight: bold; color: #333;}
#keyWordRadio3:checked ~ .hotKeyWordTab li:nth-child(4) {font-weight: bold; color: #333;}
#keyWordRadio4:checked ~ .hotKeyWordTab li:nth-child(5) {font-weight: bold; color: #333;}
#keyWordRadio5:checked ~ .hotKeyWordTab li:nth-child(6) {font-weight: bold; color: #333;}

.hotKeyWordTitle {
  color: #333;
  text-align: center;
  margin: 40px 0 20px 0;
}
.hotKeyWordTitle p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.hotKeyWordTitle p:last-child {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 20px;
}
.hotKeyWordTab {
  color: #ccc;
  text-align: center;
}
.hotKeyWordTab li {
  font-size: 1rem;
  margin-bottom: 10px;
}
.hotKeyWordTab li:first-child {
  color: #333;
  display: none;
}
.hotKeyWordTab li label {
  cursor: pointer;
}
.hotKeyWordContents {
  margin-bottom: 80px;
}
.hotKeyWordImgBox {
  display: flex;
  justify-content: space-around;
}
.hotKeyWordImgBox div {
  width: 48%;
}
.hotKeyWordImgBox div img {
  width: 100%;
}
.ImgBox1,
.ImgBox2,
.ImgBox3,
.ImgBox4,
.ImgBox5 {
  display: none;
}

/* photo review */
.review {
}
.review>h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin: 40px 0 30px 0;
}
.review_select {
  text-align: end;
  margin-bottom: 10px;
  margin-right: 10px;
}
.photo {
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.photo .review_img_box {
}
.photo .review_img_box img{
  width: 100%;
}
.photo .review_txt_box {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.photo .review_txt_box p:nth-child(1) {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.5rem;
  
}
.photo .review_txt_box p:nth-child(2) {
  font-size: 0.4rem;
  color: #ccc;
}
.photo .review_product {
  padding: 10px;
  font-size: 0.5rem;
}
.review_more {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
/* web_review */
.web_review {
  display: none;
}
.web_review>h3{
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin: 70px 0 30px 0;
}
.web_review_contents .photo {
  width: 19%;
  cursor: pointer;
}
.web_review .photo .review_img_box {
  overflow: hidden;
  height: 212px;
}
.web_review .photo:hover .review_img_box img{
  transform: scale(1.1);
}
.web_review .photo .review_img_box img{
  transition: all 0.2s;
}
/* review_detail */
.review_detail {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.review_detail .review_detail_img_box {
  margin-bottom: 30px;
  background-color: #f7f7f7;
  width: 350px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  padding: 10px;
}
.review_detail  .review_detail_close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}
.detail_left {
  color: #000;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.detail_right {
  color: #000;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.review_detail .review_detail_img_box img {
  display: block;
  margin: 0 auto;
}
.review_detail .review_detail_container {
  padding: 10px 10px;
  width: 350px;
  background-color: #f7f7f7;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-photobox;
}

.review_detail_txt_box p:first-child {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid #ccc; 
}
.review_detail_txt_box .review_star{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.review_detail_txt_box .review_star i {
  font-size: 1.2rem;
  color: rgb(161, 134, 114);
}
.review_detail_txt_box .review_star>p {
  margin-left: 10px;
  color: gray;
  font-size: 0.8rem;
}
.review_detail_txt_box p:nth-child(3) {
  color: #ccc;
  font-size: 0.7rem;
  margin-bottom: 10px;
}
.review_detail_txt_box p:nth-child(4) {
  font-size: 0.9rem;
  color: #333;
  text-align:justify;
  line-height: 1.8rem;
}
.review_detail_txt_box .like {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 30px;
  color:  #333;
}
.review_detail_txt_box .like div:hover i  {
  color: #000;
  font-weight: bold;
}
.review_detail_txt_box .like div:hover p  {
  color: #000;
  font-weight: bold;
}
.rp_like {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.rp_like div {
  display: flex; 
}
.rp_like div:hover i{
  color: #333;
}
.rp_like div i {
  font-size: 0.7rem;
  color: #ccc;
}
.rp_like div p {
  color: #333;
  font-size: 0.6rem;
}


/*web event */
.web_event {
  /* display: none; */
  margin: 100px 0;
  background-color: #f7f7f7;
  padding: 40px 0 30px 0;
}
.web_event>h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
.web_event .event_img_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.web_event .event_img_box .event_img {
  width: 48%;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
}
.web_event .event_img_box .event_img img{
  width: 100%;
  transition: all 0.2s;
}
.web_event .event_img_box .event_img:hover img{
  transform: scale(1.1);
}
.event_more {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 50px auto 30px auto;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}

/* mobile_event
.mobile_event {
  margin-top: 50px;
  background-color: #f7f7f7;
  padding: 40px 0 30px 0;

}
.mobile_event>h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.mobile_event .event_img_box {
  width: 100%;
}
.mobile_event .event_img_box img {
  margin-bottom: 20px;
  width: 100%;
}
*/

/* youtube */
.youtube {
  text-align: center;
  padding-bottom: 60px;
}
.youtube>h3 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin: 60px 0 30px 0;
}
.youtube_btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 30px auto;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
}
.outer_footer {
  width: 100%;
  font-size: 0.5rem;
  background-color: #f7f7f7;
  color: #333;
}
.footer_top {
  display:  flex;
  margin-bottom: 10px;
  padding-top: 30px;
}
.footer_top li {
  margin-right: 20px;
}
.footer_top li:nth-child(4) {
  font-weight: bold;
  color: #000;
}
.footer_logo {
  margin-bottom: 10px;
}
.custom_center {
  color: #666;
}
.custom_center p:nth-child(1) {
  background-color: #ccc;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  padding: 5px;
}
.colorfont {
  color: #ccc;
}
.footer_bottom {
  font-size: 0.5rem;
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding: 20px 15px;
}

.popUp {
  display: none;
  position: fixed;
  top: 60px;
  left: 100px;
  z-index: 99;
  box-shadow: 1px 1px 1px grey;
}
.popUp .popup_txt {
  display: flex;
  justify-content: end;
  background-color: #444;
  color: #fff;
  font-size: 0.6rem;
}
.popUp .popUp_img_box {
  height: 500px;
}
.popUp .popup_txt p {
  margin-left: 10px;
}
#popup_close {display: none;}
#popup_close:checked ~ .popUp {
  display: none;
}




/* media */
@media all and (min-width:1025px) {
  .header,
  .navBox,
  .search_box,
  .web_best,
  .web_review,
  .hotKeyWord,
  .web_event>.event_img_box,
  .youtube_box>iframe,
  .footer,
  .address
  {
    width: 1024px;
    margin: 0 auto;
  }
  .web_mainVisual{
    display: block;
    cursor: pointer;
  }
  .web_best .best_img_box {
    height: 307px;
  }
  .mobile_mainVisual {
    display: none;
  }
  .youtube_box>iframe {
    height: 630px;
  }
  .review_detail {
    padding-top: 10%;
  }
}
@media all and (min-width:601px) {
  html{
    font-size: 20px;
  }
  .navBox .gnb {
    justify-content: end;
  }
  .popUp {
    display: block;
  }
  .web_review {
    display: block;
  }
  .web_review_contents {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .review {display: none;}

  .photo .review_txt_box p:nth-child(1) {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.5rem;
  }
  .web_best {
    display: block;
  }
  .web_best>h3 {
    margin: 100px 0 40px 0;
  }
  .web_best .best_second {
    height: auto;
    margin-bottom: 100px;
  }
  .web_best .best_more_btn {
    display: none;
    cursor: pointer;
  }
  .mobile_best {
    display: none;
  }
  .best_txt_box .best_pro_review{
    display: flex;
  }
  .hotKeyWordContents {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }

  .hotKeyWordContents .hotKeyWordTitle{
    width: 100%;
    margin-bottom: 50px;
  }
  .hotKeyWordContents .hotKeyWordTab{
    width: 40%;
    text-align: left;
    padding-left: 80px;
    box-sizing: border-box;
  }
  .hotKeyWordTab li:first-child {
    display: block;
  }
  .hotKeyWordContents .hotKeyWordTab li {
    margin-bottom: 20px;
  }
  .hotKeyWordContents .hotKeyWordImgBox{
    width: 60%;
  }
  .web_event .event_img_box .event_img {
    width: 23%;
    height: 232px;
    overflow: hidden;
    cursor: pointer;
  }
  .event_more {
    margin: 30px auto;
  }
  .mobile_event {
    display: none;
  }
  .review_detail .review_detail_img_box {
    width: 500px;
  }
  .review_detail .review_detail_container {
    padding: 10px;
    width: 500px;
  }
  .detail_btn .detail_left {
    color: #fff;
    top:50%;
  }
  .detail_btn .detail_right {
    color: #fff;
    top:50%;
  }
  .best_txt_box .best_pro_review{
    display: flex;
  }
  .mobile_like_box {
    display: none;
  }
  .custom_center {
    float: right;
  }

}
@media all and (min-width:601px) and (max-width:1024px) {
  .youtube_box>iframe {
    height: 400px;
  }
  .web_review .photo .review_img_box {
    height: 169px;
  }
  .review_detail {
    padding-top: 25%;
  }
}